<!DOCTYPE html>
<html>
<head>
  <title>LocoTrades</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="jumbotron">
	  <h1>Welcome to Loco Trades!</h1>
	  <p>Where you don't need money to buy anything</p>
	  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>
		
	<div class="container">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>










